<section class="inner-pages-common-banner">
  <img src="./assets/images/contact-banner-img.png" alt="img"/>
  <div class="overlay"></div>
  <div class="container-xl inner-ban-text">
    <h2 class="heading text-center text-capitalize">
      Contact Us
    </h2>
    <p class=" text-center">Looking to get started on your Project.<br/>Let us help you with a Quote.</p>
  </div>
  </section>
  <section class="contact-banner">
    <div class="container-xl">
      <h1 class="heading text-center text-capitalize">
        We’d Love To Hear From You
      </h1>
      <p class="paragraph txet-center">
        We are ready to help! Please fill out the form below and we will contact
        you as soon as possible. <br />
        For immediate assistance you can get us on live chat.
      </p>
    </div>
  </section>
  <section class="module">
    <div class="container-xl">
      <div class="contact-page">
        <div
        class="contact-page--formwrapper"
       
       
      >
       hhjhj
       </div>
      </div>
    </div>
    <section class="contact-banner">
      <div class="container-xl">
        <h2 class="heading text-center text-capitalize">
          Connect Anytime & From Anywhere
        </h2>
        <p class="paragraph txet-center">
          Let us help you complete every project, at every stage of development,
          <br />
          or in the middle of every hiccup imaginable.
        </p>
      </div>
    </section>