/* You can add global styles to this file, and also import other style files */
// @use '@angular/material' as mat;
@import './variable.scss';
// @include mat.core();
// $mat-primary: (
//   100 : lighten($primary,15%),
//   300 : $primary,
//   700 : darken($primary,100%),
//   contrast: (
//     100 : $black,
//     300 : $white,
//     700 : $white,
//   )
// );
// $mat-accent: (
//   100 : lighten($accent,20%),
//   300 : $accent,
//   700 : derken($accent,20%),
//   contrast: (
//     100 : $white,
//     300 : $white,
//     700 : $white,
//   )
// );

// $mat-secondary: (
//   100 : lighten($secondary,20%),
//   300 : $secondary,
//   700 : derken($secondary,20%),
//   contrast: (
//     100 : $white,
//     300 : $white,
//     700 : $white,
//   )
// );
// $nd-primary: mat.define-palette($mat-primary, 300, 100, 700);
// $nd-accent: mat.define-palette($mat-accent, 300, 100, 700);
// $nd-secondary: mat.define-palette($mat-secondary, 300, 100, 700);
// $nd-warn: mat.define-palette(mat.$red-palette);
// $nd-typography: mat.define-typography-config($font-family: $fonts);
// $nd-theme: mat.define-light-theme((
//   color: (
//     primary: $nd-primary,
//     accent: $nd-accent,
//     secondary: $nd-secondary,
//     warn: $nd-warn,
//   ),
//   typography: $nd-typography,
// ));
// @include mat.all-component-themes($nd-theme);

// $secondary-typography: mat.define-typography-config($font-family: $fonts-secondary);
// @include mat.button-typography($secondary-typography);


// @import '~bootstrap-4-grid/scss/grid.scss';

// /* You can add global styles to this file, and also import other style files */

// *{box-sizing:border-box;text-decoration: none;}
// html, body { height: 100%; scroll-behavior: smooth;}

// // @import './scss/font-face.scss';
// // @import './scss/global.scss';
// // @import './scss/material.scss';
// // @import './scss/form.scss';
// // @import './scss/layout.scss';

// @import '../../scss/font-face.scss';
// @import '../../scss/global.scss';
// @import '../../scss/material.scss';
// @import '../../scss/form.scss';
// @import '../../scss/layout.scss';

// added by nemchand start
 @import './scss/global.scss';
 @import './scss/layout.scss';
@font-face {
    font-family: 'pf_din';
    src:url('./assets/fonts/pfdintextcondpro-medium-webfont.woff2') format('woff2'),
        url('./assets/fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
        url('./assets/fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: 500;font-style: normal;font-display: swap;
  }
.pagination{
  list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 5rem 0 0;
}

.pagination .page-link{
    margin: 0 10px 0 !important;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    background-color: #f2f2f2;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
}

.pagination .page-link .visually-hidden{
  display: none;
}

.pagination .active>.page-link, .page-link.active {
  background-color: #008AC1;
  color: #fff;
}

.pagination .disabled>.page-link, .page-link.disabled {
  opacity: 0.5;
}

.tf-v1-popover .tf-v1-popover-button .tf-v1-popover-button-icon .tf-v1-spinner {
  top: 14% !important;
  left: 14% !important;
}
// added by nemchand end


.grecaptcha-badge {
  display: none;
}

@media screen and (max-width: 768px) {
  .tf-v1-popover-tooltip {
    display: none !important;
  }
  .tf-v1-popover-button {
    width: 38px !important;
    height: 38px !important;
    bottom: 5px !important;
    .tf-v1-popover-button-icon {
      width: 38px !important;
      height: 38px !important;
      padding-top: 0px;
      &>img {
        width: 34px !important;
        height: 34px !important;
      }     
    }
  }
}
// by sneha //
.inner-pages-common-banner {
  width: 100%;
  height: 600px;
  position: relative;
  @media(max-width:1199px){
    height: 525px;
  }
  @media(max-width:991px){
    height: 410px;
  }
  @media(max-width:767px){
    height: 265px;
  }
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
  }
  .inner-ban-text {
    position: relative;
    z-index: 9;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    color: $white;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
  }
  p {
    color: $white;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    max-width: 940px;
    width: 100%;
    margin: 28px auto 0;
    @media(max-width:1199px){
      font-size: 28px;
    }
    @media(max-width:991px){
      font-size: 22px;
    }
    @media(max-width:767px){
      font-size: 16px;
      margin: 16px auto 0;
    }
  }
}