$black:#000;
$white:#fff;
$primary:lighten($black,20%);
$accent:#008AC1;
$secondary:#27B4EC;
$warm:#f44336;

$active:#04773D;
$inactive:#BC0808;
$draft:#786200;
$orange:#ff7800;
$pink:#dd0aa4;
$vilot:#714FD2;
$blue:#006BD6;
$purple:#9D3D96;
$skygreen:#1EA3A8;
$yellow:#E68A00;
$green:#00bd3a;
$subgreen:#98AC15;
$lightpurple:#B7A4DA;

$fonts: 'Roboto', sans-serif;
$fonts-secondary:'pf_din', sans-serif;